<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Awesome Ribbon Styled Navigation Menu</title>
	<link href="css/navstyle.css" rel="stylesheet">
</head>
<body>
	<div class="custom-padding">
		<nav>
			<div class="logo">
				Revolution
			</div>
			<ul class="menu-area">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/login">Login</a>
				</li>
				<li>
					<a href="/register">Registration</a>
				</li>
				
			</ul>
		</nav>
	</div>
</body>
</html>